@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-image: url("bg_login.gif");
    object-fit: cover;
    background-color: #e8e8f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#login_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px solid white ;
    backdrop-filter: blur(10px);
}


#header {
    text-align: center;
}

#form_container{
    border-radius: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 24px;
    padding-bottom: 20px;
}


#login_button{
    text-align: center;

}

#space{
    height: 30px;
}


#login_button button{
    background-color: #d8d8fc;
    font-size: 20px;
    border: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-radius: 40px;
}

::placeholder{
    font-size: 22px;
    color: #d1d1d1 !important;
}

input{
    height: 65px;
}

#forgot_pass{
    font-size: 14px;
    color: #d1d1d1;
    position: absolute;
    right: 43px;
}

#logo img {
    width: 180px;
    height: 180px;
}
#login_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
#forgot_pass {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    color: white;
    margin-bottom: 10px;
}
#signup {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: white;
}

